@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}
 
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* styling untuk skip to content element */
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #ffd234;
    color: gray;
    padding: 8px;
    z-index: 100;
}
 
.skip-link:focus {
   top: 0;
}
 
 
/*
  AppBar
*/
 
.app-bar {
  padding: 5px 16px;
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
 
.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 22px;
  padding: 8px 15px;
  cursor: pointer;
}
 
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}
 
.app-bar .app-bar__brand img {
  width: 50%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-left: 10px;
  /* user-select: none; */
}
 
.app-bar .app-bar__navigation {
  position: absolute;
  top: 75px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: white;
  overflow: hidden;
}
 
.app-bar .app-bar__navigation.open {
  left: 0;
  top: 75px;
}
 
.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
}
 
/*
  Main Content
*/

.hero-element {
  width: 100%;
  margin-bottom: 20px;
}
.hero-element img {
    width: 100%;
}
 
main {
  padding: 0;
  flex: 1;
}
 
.content {
  margin: 0 auto;
  min-height: 100%;
}
 
.content .content__heading {
  font-weight: normal;
  text-align: center;
}
 
 
/*
  Restaurants
*/
 
.restaurants {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin: 32px 0;
  padding: 0 32px;
}
 
 
/*
  Restaurant Item
*/
 
.restaurant-item {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.restaurant-item__header {
  position: relative;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__poster {
  width: 100%;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating {
  position: absolute;
  padding: 8px;
  bottom: 20px;
  left: 0;
  display: inline-block;
  background-color: black;
  color: white;
}
 
.restaurant-item .restaurant-item__header .restaurant-item__header__rating .restaurant-item__header__rating__score {
  margin-left: 10px;
}
 
.restaurant-item .restaurant-item__content {
  padding: 16px;
}
 
.restaurant-item .restaurant-item__content h3 {
  margin: 0 0 10px 0;
}
 
.restaurant-item .restaurant-item__content h3 a {
  color: #ffd234;
  text-decoration: none;
  padding: 10px 0 15px 0;
}
 
.restaurant-item .restaurant-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
 
 
/*
  Movie
*/
.restaurant-detail {
  padding: 20px 30px;
}

.restaurant .restaurant__overview > p {
  text-align: justify;
}
 
.restaurant .restaurant__poster {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.restaurant .restaurant__title {
  padding: 15px 0;
}

.restaurant .restaurant__info h3, .restaurant .restaurant__overview h3, .menu h3, .review-customer h3{
  text-align: center;
  margin: 20px 0;
}
 
.restaurant .restaurant__info h4 {
  margin: 8px 0;
}

.review-customer-container {
  border: 2px solid #ffd234;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.favorite-heading {
  margin-top: 30px;
}


/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: white;
  cursor: pointer;
}


/*
  Footer
*/
 
footer {
  padding: 20px 35px;
  background-color: #f0f0f0;
  margin-top: 20px;
}
 
footer p {
  text-align: center;
  color: #696969;
}
 
footer p a {
  color: #ffd234;
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
}